@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

body {
  font-family: 'Fredoka', sans-serif;
  background-color: #e0f7e9;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
}

.app-title {
  text-align: center;
  margin: 0;
  padding: 30px 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.pfp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar-button {
  background-color: #9a8c98;
  border: none;
  border-radius: 15px;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  font-family: 'Fredoka', sans-serif;
  width: 100%;
  text-align: center;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-bars {
    display: flex;
    flex-direction: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: auto;
    padding-bottom: 40px;
  }

.search-input {
  border: 1px solid #c9ada7;
  border-radius: 10px;
  padding: 8px;
  font-family: 'Fredoka', sans-serif;
  width: 150px;
  box-sizing: border-box;
}
.search-days{
  border: 1px solid #c9ada7;
  border-radius: 10px;
  padding: 8px;
  font-family: 'Fredoka', sans-serif;
  width: 150;
  box-sizing: border-box;
}

.calendar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: transform 0.3s ease-in-out;
}

.animating {
  transform: translateX(-10px);
}

.nav-button {
  background-color: #9a8c98;
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
  color: #fff;
  cursor: pointer;
}

button{
  background-color: #9a8c98;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
}

.calendar {
  display: flex;
  gap: 10px;
  overflow: hidden;
}

.day {
  width: 400px;
  height: auto;
  text-align: center;
  font-family: 'Fredoka', sans-serif;
}

.day-content {
  min-height: 500px;
  margin-top: 5px;
  background-color: #f2e9e4;
  border-radius: 10px;
}

.profile-icon {
    width: 40px; /* Adjust the width to make it smaller */
    height: 40px; /* Adjust the height to match the width */
    border-radius: 50%;
    object-fit: cover; /* Ensures the image covers the area without distortion */
    background-color: #9a8c98; /* Optional: Background color if no image is loaded */
    padding: 15px;
  }

.scrollable-content {
    max-height: auto; /* Adjust height as needed */
    overflow-y: auto;
  }
  
